<h2>Nouveau ticket</h2>
<p><strong><%= @ticket.category.humanize %></strong> (priorité : <%= @ticket.priority %>)</p>
<p>Logement : <%= @ticket.property.address %></p>
<p>Déclarant : <%= @ticket.tenant.first_name %> <%= @ticket.tenant.last_name %></p>
<blockquote><%= simple_format(@ticket.description.to_s) %></blockquote>
